 
 .landing_page {
  display: flex;
}
 .landing_page img,
 .landing_page .text {
  max-width: 40%;
}
 .landing_page img {
  max-width: 60%;
}
 .landing_page .text p:nth-of-type(1) {
  color: #ffffff;
  font-size: 100px;
  position: absolute;
  z-index: 2;
  width: 60%;
  transform: translateY(50px);
  background-color: #5b0017;
  opacity: 0.7;
}
 .landing_page .text p:nth-of-type(2),
 .landing_page .text button {
  transform: translateY(350px);
}
 .landing_page .text p:nth-of-type(2) {
  max-width: 70%;
  color: white;
  font-weight: 300;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 20px;
}
 .landing_page .text button {
  padding: 10px 25px;
  border: solid 3px #cc9d2f;
  background-color: transparent;
  cursor: pointer;
}
 .landing_page .text button a {
  font-size: 18px;
  font-weight: 200;
  color: #cc9d2f;
  text-decoration: none;
}
 .landing-page img:nth-of-type(1) {
  position: relative;
  z-index: 1;
  max-width: 100%;
}

/*  */

.main{
  background-color: #5b0017;
  font-family: "Source Serif 4", serif;
}
 .section1 {
  padding: 7% 5%;
  background-image: url(../../assets/images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right;
  height: 90vh;
}
 .section1 .sct1_container {
  display: flex;
  gap: 30px;
}
 .section1 .sct1_container .img2 {
  width: 30%;
  height: 621px;
}
 .section1 .sct1_container .sct1_text {
  width: 70%;
  position: relative;
}
 .section1 .sct1_container .sct1_text p:nth-of-type(1) {
  font-size: 70px;
  font-weight: 400;
  color: white;
}
 .section1 .sct1_container .sct1_text p:nth-of-type(2) {
  color: white;
  font-weight: 200;
  font-size: 25px;
  margin: 10px 0 20px 0;
}
 .section3 .sct3_container button,
 .section1 .sct1_container .sct1_text button {
  padding: 15px 20px;
  background-color: #cc9d2f;
  margin: 50px 0;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: #5b0017 -4px 4px 0 0, #cc9d2f -4px 4px 0 1px;
}
 .section3 .sct3_container button a,
 .section1 .sct1_container .sct1_text button a {
  text-decoration: none;
  color: #5b0017;
  font-weight: 200;
}
 .section1 .sct1_container .sct1_text .sct1-imgs {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;

}
 .section1 .sct1_container .sct1_text .sct1-footer img:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* .imgPlace1{
  display: none;
} */

 .section2 {
  padding: 1% 5%;
  margin-top: 100px;
  padding-bottom: 100px;
  color: #243054;
  font-family: "Inter", sans-serif;
}
 .section2 .sct2_container {
  display: flex;
}
 .section2 .sct2_container .sct2_text {
  width: 30%;
  background-color: #cc9d2f;
  padding: 70px 100px 20px 100px;
}
 .section2 .sct2_container .video {
  width: 70%;
}
 .section2 .sct2_container .video img {
  width: 100%;
  height: 100%;
}
 .section2 .sct2_container .sct2_text i {
  transform: translateX(-15px);
}
 .section2 .sct2_container .sct2_text .desc {
  font-size: 21px;
  line-height: 1.8;
}
 .section2 .sct2_container .sct2_text .user_box {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
 .section2 .sct2_container .sct2_text .user_box .person {
  height: 40px;
  padding-bottom: 10px;
  border-bottom: 1.66px solid #243054;
}
 .section2 .sct2_container .sct2_text .user_box .username {
  width: 90%;
  border-bottom: 0.8px #00646d62 solid;
}
 .section2 .sct2_container .sct2_text .user_box .username p:nth-of-type(1) {
  font-weight: 500;
  margin-bottom: 5px;
}
 .section2 .sct2_container .sct2_text .user_box .username p:nth-of-type(2) {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 12px;
}
/*------------------FIN-SECTION2-------------------------------------------------*/
 .section3 {
  height: 120vh;
  background-image: url(../../assets/images/img3.png);
  background-size: 100% 100%;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .section3 .sct3_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 .section3 img:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 70%;
}
 .section3 img:nth-of-type(1) {
  width: 88px;
  height: 104px;
}
 .section3 p {
  font-size: 60px;
  color: white;
  max-width: 70%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
 .section3 .sct3_container button {
  padding: 15px 25px;
}