@font-face {
  font-family: "CustomFont";
  src: url("./assets/cotorisbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Times New Roman", Times, serif; */
  font-family: 'CustomFont', sans-serif;
}
