/* variables */
:root {
  --primary: #5b0017;
  --secondary: #cc9d2f;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--primary);
  overflow-x: hidden;
  font-family: "CotorisBold";
}


/* fonts */
@font-face {
  font-family: "CotorisBold";
  src: url("assets/fonts/cotorisbold.ttf") format("ttf");
}


